name: Deploy Worker
on:
  workflow_call:
#    inputs:
#      config-path:
#        required: true
#        type: string
    secrets:
      cloudflare_api_token:
        required: true
      cloudflare_account_id:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup arc-site
        run: npm install

      - name: Fetch arc-material
        run: run npm run fetch-material

      - name: Build arc-material
        run: npm run build-material

      - name: Copy arc-material
        run: npm run copy-material

      - name: Build project first
        run: npm run build

      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.54.0"
          command: deploy
